<ion-content class="vender-bg">
  <div class="header-section">
    <ion-icon name="arrow-back-outline" class="back-btn" routerLink="/explorar"></ion-icon>
    <h1 class="page-title">{{ tituloPagina }}</h1> 
  </div>

  <div class="form-container">
    
    <input type="file" accept="image/*" (change)="carregarFoto($event)" #fileInput style="display: none;" />
    
    <div class="photo-upload-box" (click)="abrirSeletorDeFoto()" [class.has-photo]="fotoPreview">
      <ng-container *ngIf="!fotoPreview">
        <ion-icon name="camera-outline"></ion-icon>
        <p>Adicionar foto</p>
      </ng-container>
      <img *ngIf="fotoPreview" [src]="fotoPreview" class="preview-img" />
    </div>

    <label>Título do anúncio</label>
    <input type="text" class="custom-input" [(ngModel)]="tituloAnuncio" />

    <label>Preço (€)</label>
    <input type="number" class="custom-input" [(ngModel)]="precoAnuncio" />

    <label>Descrição</label>
    <textarea class="custom-textarea" rows="4" [(ngModel)]="descricaoAnuncio"></textarea>

    <label>Raridade</label>
    <div class="pills-row">
      <div class="segment-btn" [class.active]="raridadeSelecionada === 'Muito raro'" (click)="selecionarRaridade('Muito raro')">Muito raro</div>
      <div class="segment-btn" [class.active]="raridadeSelecionada === 'Raro'" (click)="selecionarRaridade('Raro')">Raro</div>
      <div class="segment-btn" [class.active]="raridadeSelecionada === 'Comum'" (click)="selecionarRaridade('Comum')">Comum</div>
    </div>

    <label>Condição</label>
    <div class="pills-row">
      <div class="segment-btn" [class.active]="condicaoSelecionada === 'Novo'" (click)="selecionarCondicao('Novo')">Novo</div>
      <div class="segment-btn" [class.active]="condicaoSelecionada === 'Muito Bom'" (click)="selecionarCondicao('Muito Bom')">Muito Bom</div>
      <div class="segment-btn" [class.active]="condicaoSelecionada === 'Bom'" (click)="selecionarCondicao('Bom')">Bom</div>
      <div class="segment-btn" [class.active]="condicaoSelecionada === 'Gasto'" (click)="selecionarCondicao('Gasto')">Gasto</div>
    </div>

    <ion-button expand="block" shape="round" class="gold-btn publish-btn" (click)="publicarAnuncio()">
      {{ botaoTexto }}
    </ion-button>

  </div>
</ion-content>