<ion-content class="login-bg">
  <div class="login-container">
    
    <h1 class="welcome-title">Bem-Vindo</h1>

    <div class="login-card">
      <h2 class="card-title">Iniciar sessão</h2>

      <div class="input-group">
        <label>E-mail ou nome de utilizador</label>
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <label>Palavra-passe</label>
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>

      <div class="forgot-password">
        <span class="forgot-link">Esqueceu-se da palavra-passe?</span>
      </div>

      <ion-button expand="block" shape="round" class="gold-login-btn" (click)="entrar()">
        Entrar
      </ion-button>

      <p class="register-text">
        Ainda não tem conta? <span class="gold-link" (click)="irParaRegisto()">Clique aqui</span>
      </p>
    </div>

  </div>
</ion-content>